<div class="row">
	<div class="small-4 column">
		<div class="panel">
			<h1>Sign in</h1>

			<% if @flash %>
				<div data-alert class="alert-box info radius">
					<%= @flash %>
				</div>
			<% end %>

			<%= simple_form_for(:session, url: sessions_path) do |f| %> 
				<%= f.input :email %>
				<%= f.label :password %>
				<%= f.password_field :password %>
					
				<%= submit_tag "Sign in", class: "button" %>
			<% end %>

			<p><%= link_to "forgotten password?", new_password_reset_path %> </p>
		</div>
	</div>
</div>