<div class="row">
	<div class="small-4 column">
		<div class="panel">
			<%= simple_form_for @user, url: password_reset_path(params[:id]) do |f| %>
				<% if @user.errors.any? %> 
					<div data-alert class="alert-box info radius">
						<ul>
							<h2>Form is invalid</h2>
								<% for message in @user.errors.full_messages %> 
									<li><%= message %></li>
								<% end %>
						</ul>
					</div>
				<% end %>
				<%= f.input :password %>
				<%= f.input :password_confirmation %>
			<%= submit_tag "Reset password", class: "button" %>
			<% end %>
		</div>
	</div>
</div>

