<div class="flexslider">
	<ul class="slides">
		<li><%= image_tag "image.jpg" %></li>
		<li><%= image_tag "image_6.jpg" %></li>
		<li><%= image_tag "image_1.jpg" %></li>
		<li><%= image_tag "image_2.jpg" %></li>
		<li><%= image_tag "image_4.jpg" %></li>
		<li><%= image_tag "image_3.jpg" %></li>
	</ul>
</div>