<div class="row">
	<div class="small-6 small-centered column event_col">
		<h1>Upcoming Events:</h1>
			
			<% if !(@events.upcoming.empty?) %>
				<% @events.upcoming.each do |event| %>
					<div class="panel">
						<h4><%= event.title %></h4>
						<hr>
						<%= event.date.strftime("%m/%d/%y") %> 
						at <%= event.time.strftime(" %l:%M") if event.time != nil %></br>
						<%= event.description.html_safe %> </br> 
				</div>
				<% end %>
			<% else %>
				<div class="panel">
					Check in later for more events.
				</div>
			<% end %>
	<% if !(@events.past.empty?) %>
		<h1>Past Events:</h1>
			<% @events.past.each do |event| %>
				<div class="panel">
					<h4><%= event.title %></h4>
					<hr>
					<%= event.date.strftime("%m/%d/%y") %> 
					at <%= event.time.strftime(" %l:%M") %></br>
					<%= event.description.html_safe %> </br> 
				</div>
		<% end %>
	<% end %>
</div>