<div class="row">
	<div class="small-6 small-centered column">
		<h1>Upcoming Events:</h1>
			<% @events.upcoming.each do |event| %>
				<div class="panel">
					<%= event.title %> </br>
					<%= event.date.strftime("%m/%d/%y") %> </br>
					<%= event.time.strftime(" %l:%M") %> </br>
					<%= event.description %> </br> 
				</div>
			<% end %>
		<h1>Past Events:</h1>
			<% @events.past.each do |event| %>
				<div class="panel">
					<h4><%= event.title %></h4>
					<hr>
					<%= event.date.strftime("%m/%d/%y") %> 
					<%= event.time.strftime(" %l:%M") %></br>
					<%= event.description %> </br> 
				</div>
		<% end %>
</div>