<div class="row">
 <div class="small-4 column"><%= image_tag "sunglasses.jpg" %>
 </div>
  <div class="small-4 column"> <%= image_tag "black_and_white.jpg" %>
 </div>
  <div class="small-4 column">  <%= image_tag "desert.jpg" %>

 </div>
  <div class="small-4 column">  <%= image_tag "desert.jpg" %>
 </div>
 </div>
 <div class="row">
  <div class="small-4 column"> <%= image_tag "black_and_white.jpg" %>
 </div>
  <div class="small-4 column">  <%= image_tag "desert.jpg" %>

 </div>
 <div class="small-4 column"><%= image_tag "sunglasses.jpg" %>e
 </div>
 </div>
