<div class="row">
	<div class="small-6 small-centered column">
		<div class="panel">
			<%= simple_form_for @photo, html: { multipart: true } do |f| %>
				 <%= f.input :photo, type: :file %>
				 <%= f.input :photographer %>
				 <%= f.input :caption, as: :text %>
				 <%= f.input :photo_type, collection: { Editorial: 0, Runway: 1}, @photo_type, as: :select %>
				 <%= submit_tag "Upload photo", class: "button" %>
			 <% end %>
		</div>
	</div>
</div>
