<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
			<li class="name">
				<h1><%= link_to("IJB", '#') %></h1>
			</li>
		</ul>

		<section class="top-bar-section">
			<!-- Right Nav Section -->
		<ul class="right">
			<li class="editorial">
				<%= link_to("Editorial", '#') %>
			</li>
			<li class="runway">
				<%= link_to("Runway", '#') %>				
			</li>
			<li class="events">
				<%= link_to("Events", '#') %>
			</li>
			<li class="contact">
				<%= link_to("Contact", '#') %>
			</li>
		</ul>
	</nav>
  <body>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>