<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title(yield(:title)) %></title>
    <link rel="stylesheet" href="src/css/swipebox.css">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

	<!-- Flexsider -->
		<link rel="stylesheet" href="flexslider.css" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script src="jquery.flexslider.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link rel="icon"
    			type="image/png"
    			href="../../assets/favicon.png"/>
  </head>
  <body>

		<nav class="top-bar" data-topbar>
			<ul class="title-area">
				<li class="name">
					<h1><%= link_to("IJB", root_path) %></h1>
				</li>
			</ul>

			<section class="top-bar-section">
			
			<!-- Left Nav Section -->	
			<% if current_user %>
				<ul class="left">
					<li class="dashboard" data-no-turbolink>
						<%= link_to("Dashboard", rails_admin.dashboard_path) %>
					</li>
				</ul>
			<% end %>

			<!-- Right Nav Section -->

				<ul class="right">
					<li class="editorial">
						<%= link_to("Editorial", editorial_path) %>
					</li>
					<li class="runway">
						<%= link_to("Runway", runway_path) %>				
					</li>
					<li class="events">
						<%= link_to("Events", '#') %>
					</li>
					<li class="contact">
						<%= link_to("Contact", contact_path) %>
					</li>
				</ul>
		</section>
		</nav>

		<!-- For mobile/small screens side menu -->
		<div class="off-canvas-wrap">
			<div class="inner-wrap">
				<nav class="tab-bar">
					<section class="left-small">
						<a class="left-off-canvas-toggle menu-icon" ><span></span></a>
					</section>
				</nav>

				<% if current_user %> 
					<div data-alert class="alert-box info radius">
						Currently logged in as <%= current_user.email %>
						<%= link_to "Log out", logout_path %>
					</div>
				<% end %>

				<% if flash[:notice] %>
					<div data-alert class="alert-box info radius"> 
						<%= flash[:notice] %>
					</div>
				<% end %>

				<% if flash[:alert] %>
					<div data-alert class="alert-box warning round">
						<%= flash[:alert] %>
					</div>
				<% end %>
				<aside class="left-off-canvas-menu">
					<ul class="off-canvas-list">
						<li><%= link_to("Editorial", editorial_path) %></li>
						<li><%= link_to("Runway", runway_path) %></li>
						<li><%= link_to("Events", '#') %></li>
						<li><%= link_to("Contact", contact_path) %></li>
					</ul>
				</aside>

    		<%= yield %>
    		
    		<a class="exit-off-canvas"></a>
			</div>
		</div>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "foundation.topbar.js", "/app/assets/javascripts/foundation" %>
  </body>
</html>


