
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.png" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Josefin+Sans|La+Belle+Aurore" %>
	 
  </head>
  <body>
  	<div class="fixed" data-no-turbolink>
			<nav class="top-bar">
				<ul class="title-area" data-no-turbolink>
					<li class="name">
						<h1><%= link_to("IJB", root_path) %></h1>
					</li>
				</ul>

				<section class="top-bar-section">
					<!-- Left Nav Section -->	
					<% if current_user %>
						<ul class="left">
							<li class="dashboard" data-no-turbolink>
								<%= link_to("Dashboard", rails_admin.dashboard_path) %>
							</li>
						</ul>
					<% end %>

					<!-- Right Nav Section -->

						<ul class="right" data-no-turbolink>
							<li class="editorial">
								<%= link_to("Editorial", editorial_path) %>
							</li>
							<li class="runway">
								<%= link_to("Runway", runway_path) %>		
							</li>
							<li class="events">
								<%= link_to("Events", events_path) %>
							</li>
							<li class="contact">
								<%= link_to("Contact", contact_path) %>
							</li>
							<li><a href="#" data-reveal-id="stats_modal">Stats</a></li>
						</ul>
				</section>
			</nav>
		</div>
		<!-- For mobile/small screens side menu -->
		<div class="off-canvas-wrap">
			<div class="inner-wrap">
				<nav class="tab-bar fixed">
					<section class="left-small">
						<a class="left-off-canvas-toggle menu-icon" ><span></span></ata>
					</section>
				</nav>

				<% if current_user %> 
					<div data-alert class="alert-box info radius">
						Currently logged in as <%= current_user.email %>
						<%= link_to "Log out", logout_path %>
					</div>
				<% end %>

				<% if flash[:notice] %>
					<div data-alert class="alert-box info radius"> 
						<%= flash[:notice] %>
					</div>
				<% end %>

				<% if flash[:alert] %>
					<div data-alert class="alert-box warning round">
						<%= flash[:alert] %>
					</div>
				<% end %>
				<aside class="left-off-canvas-menu">
					<ul class="off-canvas-list">
						<li>
							<%= link_to("Home", root_path) %>
						</li>
						<li><%= link_to("Editorial", editorial_path) %></li>
						<li><%= link_to("Runway", runway_path) %></li>
						<li><%= link_to("Events", events_path) %></li>
						<li><%= link_to("Contact", contact_path) %></li>
					</ul>
				</aside>

				<!-- modal panel -->
				<div id="stats_modal" class="reveal-modal" data-reveal>
					<h4>Stats: Iman J. Brown</h4>
					<p>
						Height: 5'10''
						Bust: 34B
						Waist: 24
						Hips: 34.5
						Dress: 2/4
					</p>
					<p>
						Eyes: Brown
						Hair: Blonde
					</p>
					<p>
					High fashion - Runway - Print - Editorial - Commercial - Fit - Catalog
					</p>
					<a class="close-reveal-modal">&#215;</a>
				</div>
    		<%= yield %>
    		
    		<a class="exit-off-canvas"></a>
			</div>
		</div>
    <%= javascript_include_tag "application" %>
  </body>
</html>


